@model oneri_sikayet.Models.Personel


<style>
    table {
        font-family: Arial,sans-serif;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid;
        text-align: left;
        padding: 8px;
    }
</style>

<div style="position:absolute;left:40%;">
    @using(Html.BeginForm("DeleteUser","UserManagement",new {ID = Model.ID},FormMethod.Post))
    {
    <div>
        <table>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Surname)</td>
                <td>@Html.DisplayFor(model => model.Surname)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Mail)</td>
                <td>@Html.DisplayFor(model => model.Mail)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Phone)</td>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Tcno)</td>
                <td>@Html.DisplayFor(model => model.Tcno)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Sicil)</td>
                <td>@Html.DisplayFor(model => model.Sicil)</td>
            </tr>
        </table>
        Bu kullanıcıyı silmek istediğinize emin misiniz?
        <br/>
        <button type="submit" value="Sil">Sil</button>
    </div>
    }
</div>
